@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$background-gray: #ececec;
$feature-gray: #7d7d7d;
$blue: #073768;
$pale-blue: #416589;
$purple: #300032;
$teal: #6ed3cf;
$red:#e62739;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $base-font-family;
  font-size: 62.5%;
  background-color: #fff;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
  text-align: center;
}

a{
  text-decoration:none;
}

ul{
  list-style: none;
  padding-left: 0;
}

p{
  font-size: 2em;
}

span{
  font-size: 1.5em;
}

.center-container{
  @include outer-container(1080px);
}

div.error{
  color:$red;
  font-size: 1.5em;
}

input{
  width: 100%;
  padding-top: .25em;
  padding-bottom: .25em;
  padding-left: .5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2.5em;
}

.header{
  color: $red;
  font-size: 3em;
}


.rsvp-header{
  margin-top: .5em;
  font-size: 4em;
  font-weight: 200;
  color:$red;
}

.rsvp-form{
  @include span-columns(6);
  @include shift(3);
  margin-top: 3em;
  margin-bottom:1.5em;
  background-color: $background-gray;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.5);
  font-size: 1em;
  border-radius: 3px;
}

.submit-button{
    @include span-columns(4 of 6);
    @include shift(1);
    margin-bottom: .5em;
    color: #fff;
    background-color: $pale-blue;
    border: 1px solid $feature-gray;
    border-radius: 2px;
  }
